* {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 312px;
  top: 312px;
  left: 50%;
  transform: translate(-50%);
  background-color: blue;
}

.tileGrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 100px 100px 100px;
}

.tile {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: "Bungee Outline", cursive;
  font-size: 6em;
  background-color: red;
  border: black solid 1px;
  border-radius: 20%;
  cursor: pointer;
}

.empty {
  background-color: yellow;
}
