* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.name,
.winMessage,
img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: red;
  font-family: "Bungee Outline", cursive;
}

.name {
  top: 5%;
  font-size: 2.5em;
}

.winMessage {
  display: none;
  font-size: 3em;
  top: 20%;
}

img {
  width: 350px;
  height: 340px;
  top: 31.5%;
  border-radius: 10%;
}

.container {
  position: relative;
  width: 312px;
  top: 312px;
  left: 50%;
  transform: translate(-50%);
}

.tileGrid {
  height: 100%;
  background-image: url("background.eps");
  clear: both;
}

.controls {
  position: absolute;
  top: 348px;
  width: 100px;
  height: 20px;
}

button {
  width: 3.1em;
  height: 2em;
  font-size: 2.05em;
  border-radius: 20%;
  background-color: black;
  color: white;
}

.tile {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-family: "Bungee Outline", cursive;
  font-size: 6em;
  font-weight: 900;
  background-color: red;
  border: black solid 1px;
  border-radius: 20%;
  cursor: pointer;
}

.empty {
  background-color: black;
  opacity: 0;
}
