* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.name,
.winMessage,
img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  color: red;
  font-family: "Bungee Outline", cursive;
}

.name {
  top: 5%;
  font-size: 2.5em;
}

.winMessage {
  display: none;
  font-size: 3em;
  top: 20%;
}

img {
  width: 490px;
  height: 450px;
  top: 31.5%;
  border-radius: 10%;
}

.tileGrid {
  position: absolute;
  /* max-width: 600px; */
  /* min-width: 420px; */
  width: 423px;
  height: 50%;
  left: 50%;
  top: 33%;
  transform: translate(-50%);
  /* background-color: blue; */
  clear: both;
}

.controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 91%;
  width: 100px;
  height: 20px;
}

.resetBtn,
#threeByThree,
#fourByFour,
#fiveByFive {
  width: 4em;
  height: 2em;
  font-size: 2.05em;
  font-family: "Bungee Outline", cursive;
  border-radius: 20%;
  background-color: black;
  color: red;
  z-index: 1;
}

.puzzleSizeBtn {
  position: absolute;
  top: 15%;
}

#threeByThree {
  left: 10%;
}

#fourByFour {
  left: 40%;
}

#fiveByFive {
  left: 70%;
}

.tile {
  position: absolute;
  width: 140px;
  height: 140px;
  text-align: center;
  line-height: 140px;
  font-family: "Bungee Outline", cursive;
  font-size: 6em;
  font-weight: 900;
  background-color: red;
  border: black solid 1px;
  border-radius: 20%;
  cursor: pointer;
}

.empty {
  background-color: black;
  opacity: 0;
}
